body{
    direction: rtl;
    /* text-align: right; */
}
*{
    box-sizing: border-box;
}

.row{
    display: flex;
}
.col{
    flex: 1;
}
.read-more{
    text-align: left;
}
.dropdown {
    position: relative;
}
.dropdown::before{
    content: url(images/menu_sep.png);
    display: block;
    float: right;
}
.footer-nav>ul > li > a::before{
    content: "|";
    display: block;
    float: right;
}

.dropdown-content {
    position: absolute;
    width: max-content;
    display: none;
}

.dropdown:hover > .dropdown-content {
    display: block;
}
footer{
    position: fixed;
}

ul{
    list-style: none;
    display: flex;
}

nav > ul > li > a{
    text-decoration: none;
}

#paz_logo{
    position: relative;
    top: 50px;
}

.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.search{
    float: left;
}
.header-nav{
    float: left;
}

.dropdown-content > a{
    display: block;
    text-decoration: none;
}

.sides > a, .down>.col>a{
    display: block;
}
.dropdown-content > a:hover{
    text-decoration: underline;
}

.down > .col{
    background: url(images/small_cube_bg.png);
}