body{
    direction: rtl;
    padding: 0;
    margin: 0;
    font-family: 'Arial (Hebrew)', Arial;
    line-height: 1;
}
*{
    box-sizing: border-box;
}

/*Header*/
.nav-line{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.nav-line > a{
    display: block;
    padding-left: 10px;
}
.header{
    background: linear-gradient(#909090 85%,#aaaaaa );
    height: 105px;
}
.header-nav{
    width: 80%;
}
.dropdown {
    position: relative;
}
.dropdown > a{
    padding-bottom: 10px;
}
.dropdown::before{
    content: url(images/menu_sep.png);
    display: block;
    float: right;
    width: 4px;
}
.dropdown-content {
    position: absolute;
    width: max-content;
    display: none;
    background: linear-gradient(#aaaaaa 5%, #909090 );
    right: 15px;
    z-index: 1;
}
.dropdown:hover > .dropdown-content {
    display: block;
}
.header-nav >ul >li>a{
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
#paz_logo{
    position: relative;
    top: -10px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    padding-left: 15px;
}
.search > a{
    color: white;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;
    outline: none;
    display: block;

}
.search > a:first-child{
    padding-left: 10px;
}
.search > input{
    width: 126px;
    border: none;
    border:solid 1px #ccc;
    border-radius: 0 10px 0 0;
}
.dropdown-content > a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.95em;
    font-weight: bold;
    padding: 5px;
}
.divider{
    border-top: 0.9px solid #acacac;
    width: 100%;
} 
/*Main*/
main{
    padding-top: 20px;
}
.row{
    display: flex;
}
.col{
    flex: 1;
    border-top: 10px solid white;
}
.read-more{
    text-align: left;
}
.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.sides > a, .down>.col>a{
    display: block;
}
.up > img{
    border-radius:0 0 25px 0;
}
.up{
    position: relative;
}
.up > div{
    width: 248px;
    height: 97px;
    position: absolute;
    background-image: url("images/hp_tab_text_bg.png");
    bottom: 10px;
    border-radius:0 0 25px 0;
    right: 10px;
    color: white;
}
.up > div > h3{
    font-weight: bold;
    font-size: 0.9em;
    margin: 0;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
}
.up > div > p{
    font-size: 0.8125em;
    padding: 0;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.up > div > .read-more{
    color: white;
    font-size:  0.8125em;
    padding-right: 180px;
}
.up > div > .read-more::after{
    content: url(images/read_more_white.png);
    padding-right: 5px ;
}
.down{
    margin-top: 18px;
}
.down > .col{
    position: relative;
}
.down > .col > div{
   position: absolute;
   top: 0;
   padding-right: 20px;
}
.down > img{
    border-radius: 0 25px 0 0;
}
.down > .col > div> h3{
    margin: 0;
    font-size: 0.875em;
    font-weight: bold;
    color:#575757;
    height: 34px;
    line-height: 34px;
    padding-right:4px ;
}

.down > .col > div>img{
    padding-top: 18px;
    padding-bottom: 18px;
}
.down > .col > div > .read-more{
    color: #575757;
    font-size:  0.8125em;
    padding-right: 150px;
}
.down > .col> div > .read-more::after, .sides > a::after{
    content: url(images/read_more_yellow.png);
    padding-right: 5px ;
}
.sides{
    flex:1.7;
}
.sides > a{
    color:  #575757;
    font-size: 0.8125em;
    padding-top: 10px;
}
.down > .col > div {
    width: 100%;
    padding-left: 10px;
}


/*Footer*/
.footer{
    background: linear-gradient(#dfdfdf , #909090 90%) ;
    height: 38px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer-nav>ul > li:not(:first-child) > a::before{
    content: "|";
    display: block;
    float: right;
    color: white;
    padding-right: 2px;
    padding-left: 2px;
}
.footer-nav>ul > li:last-child > a{
    color: red;
}
.footer-nav>ul > li > a{
    font-size: 0.875em;
}
.footer-nav>ul{
    padding-bottom: 0;
    padding-top: 10px;
}



/*General*/
ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
nav >ul >li{
    flex-grow: 1;
}
nav > ul > li > a{
    text-decoration: none;
    color: white;
    display: block;
}
.dropdown-content > a:hover, .dropdown > a:hover, .footer-nav>ul > li > a:hover, .search > a:first-child:hover,.side-link > a:hover{
    text-decoration: underline;
    color: #005ca0;
}

/*Contact Page Main*/
.contact > .row > .col {
    display: flex;
}
.contact > .row > .col >p{
    margin: 0;
    font-size: 0.75em;
}
.contact > .row > .col >a{
    font-size: 0.75em;
    color: #5c5c5c;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 5px;
}
.contact > .row > .col >a:hover{
    text-decoration: underline;
    color: #005ca0;
}
.side-link{
    width: 122px;
    height: 36px;
    background: linear-gradient( white 5%,#dfdfdf);
    border-top: 0.5px solid #dfdfdf;
}
.side-link > a{
    text-decoration: none;
    color: #5c5c5c;
    padding-right:10px ;
    font-size:  0.8125em;
}



.side-link >.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right:5px solid #005ca0; 
    display: inline-block;
  }