body{
    direction: rtl;
    text-align: right;
}
*{
    box-sizing: border-box;
}

.row{
    display: flex;
}
.col{
   flex: 1;
}
.read-more{
    text-align: left;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    width: max-content;
    display: none;
}

.dropdown:hover > .dropdown-content {
    display: block;
}
footer{
    position: fixed;
}